.themeoptions .txt1{float:left;width:80px;line-height:35px;font-weight:bold;}
.themeoptions .txt2{float:left;margin-top:25px;width:80px;line-height:20px;font-weight:bold;}
.themeoptions input{width:650px;height:30px;}
.themeoptions textarea{width:650px;height:100px;}